@import "tailwindcss";
@import '@nuxt/ui';

@source '../../storage/framework/views/*.php';
@source '../../resources/views/**/*.blade.php';
@source '../../resources/js/**/*.vue';

:root {
    --ui-primary: black;
}

.dark {
    --ui-primary: white;
}

@theme static {
    --font-sans: 'Instrument Sans', sans-serif;

    --color-laravel-50: #ffedec;
    --color-laravel-100: #ffdedc;
    --color-laravel-200: #ffb7b4;
    --color-laravel-300: #ff928c;
    --color-laravel-400: #ff675c;
    --color-laravel-500: #f53003;
    --color-laravel-600: #c52402;
    --color-laravel-700: #951901;
    --color-laravel-800: #680e00;
    --color-laravel-900: #410600;
    --color-laravel-950: #2a0300;
}
